.loader,
.loader:after {
    border-radius: 50%;
    width: 10.25em; 
    height: 10.25em;
}
.loader {
    margin: 3.75em auto;
    font-size: 0.625em;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(255, 255, 255, 0.2);
    border-right: 1.1em solid rgba(255, 255, 255, 0.2);
    border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
    border-left: 1.1em solid #ffffff;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}



.gradient-text {
    background: linear-gradient(to right, #70B5FF, #70E2FF, #7088FF, #4CFCE7, #8670FF); 
    filter: brightness(100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

:root {
    --hover-background-color: #f0f0f0;
    --primary-color: #E9E7E5;
    --secondary-color: rgba(233, 231, 229, 0.65);
    --background-color: black;
    --border-color: #2C3D4F;
    --image-shadow: 0.125em  0.125em 0.25em rgba(0, 0, 0.2, 0.2);
}

.box-transition{
    transition: transform 0.2s ease-in-out;
}
.box-transition:hover {
    transform: scale(1.1); /* Scale the box to 1.2 times its original size */
}

ul, p, u, label, select {
    color: var(--primary-color);
    font-size: 1.25em;
    margin-bottom: 1em;
}

li{
    margin-left: 0.6em;
    margin-bottom: 1em;
}

header {
    color: var(--primary-color);
    background-color: var(--background-color);
    text-align: center;
}

h1 {
    font-size: 3.5em; /* Adjust based on your design */
    margin-bottom: 0.5em; /* Add spacing between h1 and subsequent elements */
}

h2 {
    font-size: 2.8em; /* Adjust based on your design */
    margin-bottom: 1em; /* Add spacing between h2 and subsequent elements */
}

h3 {
    font-size: 2.2em; /* Adjust based on your design */
    margin-bottom: 0.5em; /* Add spacing between h3 and subsequent elements */
}

h4 {
    font-size: 1.8em; /* Adjust based on your design */
    margin-bottom: 0.5em; /* Add spacing between h4 and subsequent elements */
}

.description {
    color: var(--secondary-color); 
    font-size: 0.8em; 
    margin-bottom:0.15em;
}

.card {
    border-radius: 1.25em;
}

.section {
    width: 100%;
    padding: 0; 
    padding-bottom: 0; 
    text-align: center;
}


footer {
    background-color: var(--background-color);
    color: var(--primary-color);
    padding: 1.25em;
    text-align: center;
}

.contain {
    margin-left: 2.5em; 
    margin-right: 2.5em; 
}

.page-banner {
    position: static;
    width: 100vw; /* Set the width to 100% of the viewport width */
    margin-top: 4em;
    margin-bottom: 9em;
}

body {
    font-family: MetricHPEXS,Arial,sans-serif;
    background-color: var(--background-color);
    color: var(--primary-color);
    display: block;

}


html, body {
    margin: 0;
    padding: 0;
    max-width: auto;
    overflow: hidden; 
    overflow-y:scroll; /* Enable vertical scrolling if content overflows */
    display: block;
}

div {
    display: block;
}

.button_slide {
    padding: 0.3125em 0.625em; 
    color: var(--background-color);
    background-color: var(--primary-color);
    border: 0.0625em solid var(--border-color);
    border-radius: 1.25em; 
    display: inline-block;
    letter-spacing: 0.0625em; 
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #95BDE8;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}


.btn-primary, .btn-secondary {
    background-color: var(--border-color);
    border: 1px solid var(--border-color);
    border-radius: 1.25em; /* You had this already correct */
}


.slide_right:hover {
    color: white;
    box-shadow: inset 25em 0 0 0 var(--border-color);
}

.button-wrapper{
    text-align: center;
    margin-bottom: 1.25em;
}