<!-- templates/about.html -->
{% extends "layout.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About AIWARE</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">    
    <link href="/static/css/LandingPage.styles.css" rel="stylesheet">
</head>
<body>

<section class="company-about-section py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2 class="section-title text-uppercase"></i> About AIWARE</h2>
                <p class="lead"><i class="fab fa-innovate"></i> AIWARE is a leading provider of innovative solutions in artificial intelligence and machine learning. With a focus on quality, reliability, and customer satisfaction, we have established ourselves as a trusted partner for businesses seeking cutting-edge technology solutions.</p>
                <p>Our commitment to excellence is reflected in our track record of delivering high-performance products and services that meet the needs of our clients across various industries.</p></p>
                <p>With a team of highly skilled professionals and a culture of continuous improvement, we are dedicated to staying at the forefront of technological advancements and providing our clients with innovative solutions that drive success.</p>
            </div>            
            <div class="col-md-4 d-flex justify-content-center align-items-center">
                <img src="/static/images/logo/AIWARE_darkblue.png" alt="About AIWARE" class="img-fluid" style="border-radius: 20px;">
            </div>
        </div>
        <div class="row mt-4">
            <h2 class="text-uppercase">Publications</h2>
        </div>
        <ul>
            <li>
              <a style="color: var(--primary-color);" href="https://arxiv.org/pdf/2310.11477.pdf">
                Robust-MBFD: A Robust Deep Learning System for Motor Bearing Faults Detection Using Multiple Deep Learning Training Strategies and A Novel Double Loss Function
              </a>
              - 2024
            </li>
            <li>
              <a style="color: var(--primary-color);" href="https://arxiv.org/pdf/2309.06157v2.pdf">
                Robust-MBDL: A Robust Multi-branch Deep Learning Based Model for Remaining Useful Life Prediction and Operational Condition Identification of Rotating Machines
              </a>
              - 2024
            </li>
            <!-- Add more list items for more publications -->
          </ul>
    </div>
</section>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>

{% endblock %}

