<!-- templates/about.html -->
{% extends "layout.html" %}
{% block content %}

<link rel="stylesheet" href="/static/css/LandingPage.styles.css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

<style>
  /* =========================== SECTION 1 | CSS ==========================*/
  .section1-background {
      position: relative;
      height: 30em;
      background-image: url('/static/images/aiware-rotating-machinery.png');
      background-size: cover;
      background-position: center;
      border-radius: 0.25em; /* Top-left, Top-right, Bottom-right, Bottom-left */
      overflow: hidden; 
      box-shadow: inset 0 -2em 2em -0.2em rgba(0, 0, 0, 1);
  }
  .section1-background::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle at left center, rgba(0, 0, 0, 0.95) 30%, rgba(0, 0, 0, 0.8) 100%, transparent 100%);      
    border-radius: inherit; /* Ensure the border-radius is applied to gradient */
  }
  .section1-header{
    font-size: 6em;
    margin-top: 1.2em;
    text-transform: uppercase;
    text-align: center;
  }

  /* =========================== SECTION 2 | CSS ==========================*/
  .section2-image-header{
    background-image: url('/static/images/logo/AIWARE_white.png'); 
    background-position: center; 
    background-size: cover; 
    width: 20em; 
    height: 6.5em;
  }

  .section2-box{
    border: 0.0325em solid var(--border-color); 
    border-radius: 1.25em;
    padding: 1em;
    height: 8em;
  }  

  /* =========================== SECTION 3 | CSS ==========================*/
  .section3-box{
    border: 0.0325em solid var(--border-color); 
    border-radius: 1.25em;
    padding: 1em;
    height: 8em;
  }

  /* =========================== SECTION 4 | CSS ==========================*/
  .section4-container{
    width: 60em;
    color: var(--background-color);
    background: linear-gradient(to right, #70B5FF, #70E2FF, #7088FF, #4CFCE7, #8670FF); 
    border-radius: 1.25em;
    padding: 4em 1em 4em 1em;
  }

  .contact-color{
    border: 0.0625em solid var(--primary-color); 
    width: 16em;
    height: 4em;
    border-radius: 5em;
    color: var(--primary-color);
    background-color: var(--background-color);
  }
</style>

<body>
  {# @*========================================== SECTION 1 ==========================================*@ #}
  <section class="page-banner">
    <div class="contain section1-background">
      <div class="row justify-content-center">
        <div class="col col-12 col-md-8">
          <div class="section1-header gradient-text">
            about Us
          </div>
        </div>
      </div>
      <div class="row text-center">
        <div class="col">
          <p style="color: var(--secondary-color);">Discover our journey of innovation and excellence, and how we're making a difference in the predictive maintenance world.</p>
        </div>
      </div>
    </div>
  </section>

   {# @*========================================== SECTION 2 ==========================================*@ #}
   <section class="page-banner text-center">
    <div class="container">
        <div class="row mb-4" >
            <div class="col">
              <a class="navbar-brand section2-image-header" href="/About">
              </a>
            </div>
        </div>
        <div class="row text-left" style="margin-bottom: 1.5em;">
            <p>AIWARE <span style="color: var(--secondary-color);">is a leading provider of innovative solutions in artificial intelligence and machine learning. With a focus on quality, reliability, and customer satisfaction, we have established ourselves as a trusted partner for businesses seeking cutting-edge technology solutions.</span></p>
        </div>
        <div class="row">
            <div class="col section2-box box-transition mr-3 me-3"><i class="fas fa-chart-line fa-3x"></i><p class="text-uppercase mt-3">Real-Time Monitoring</p></div>
            <div class="col section2-box box-transition mr-3 me-3"><i class="fas fa-search fa-3x"></i><p class="text-uppercase mt-3">Precise diagnosis</p></div>
            <div class="col section2-box box-transition mr-3 me-3"><i class="fas fa-cogs fa-3x"></i><p class="text-uppercase mt-3">Cost-effective optimization</p></div>
        </div>
    </div>
  </section>

  {# @*========================================== SECTION 3 ==========================================*@ #}
  <section class="page-banner text-center">
    <div class="container">
        <div class="row" >
            <h2 class="gradient-text mb-1" style="text-transform: uppercase;">
                <b>Our core value</b> 
            </h2>
        </div>
        <div class="row text-left" >
            <p style="color: var(--secondary-color);">Our commitment to excellence is reflected in our track record of delivering high-performance products and services that meet the needs of our clients across various industries.</p>
        </div>
        <div class="row text-left" style="margin-bottom: 1.5em;">
          <p style="color: var(--secondary-color);">With a team of highly skilled professionals and a culture of continuous improvement, we are dedicated to staying at the forefront of technological advancements and providing our clients with innovative solutions that drive success.</p>
      </div>
        <div class="row">
            <div class="col section3-box box-transition mr-3 me-3"><i class="fas fa-lightbulb fa-3x"></i><p class="text-uppercase mt-3">Innovation</p></div>
            <div class="col section3-box box-transition mr-3 me-3"><i class="fas fa-handshake fa-3x"></i><p class="text-uppercase mt-3">Dedication</p></div>
            <div class="col section3-box box-transition mr-3 me-3"><i class="fas fa-eye fa-3x"></i><p class="text-uppercase mt-3">Transparency</p></div>
        </div>
    </div>
  </section>

  {# @*========================================== SECTION 4 ==========================================*@ #}
  <section class="page-banner text-center">
    <div class="container section4-container">
        <div class="row justify-content-center align-items-center">
            <div class="col-12">
                <h1 class="mb-1" style="text-transform: uppercase;">
                    <b>Unlock Greater Success with Us</b>
                </h1>
            </div>
        </div>
        <div class="row justify-content-center align-items-center" style="margin-bottom: 1em;">
            <div class="col-12">
                <p style="color: var(--background-color);">Discover how our tailored solutions can elevate your business to new heights.</p>
            </div>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col-12">
                <div class="button-wrapper">
                    <a href="/Contact">
                        <button type="button" class="button_slide slide_right contact-color">
                                CONTACT WITH US &#187;
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
  </section>
</body>

{% endblock %}

