{% extends "layout.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Contact Information</title>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">    
<link href="/static/css/LandingPage.styles.css" rel="stylesheet">

<style>

</style>

</head>

<body>

  <div class="container mt-5 mb-5">
    <!-- Contact Section -->
    <div class="row">
      <div class="col-md-8 mx-auto">
        <!-- Section Title -->
        <h2 class="text-center mb-4 text-uppercase">Contact Us</h2>
        
        <!-- Email Row -->
        <div class="row justify-content-center mb-3">
          <div class="col-1">
            <i class="fas fa-envelope fa-2x"></i>
          </div>
          <div class="col-auto">
            <p>
              <a href="mailto:khoa.tran@aiware.website" style="color: var(--primary-color);">khoa.tran@aiware.website</a>
            </p>
          </div>
        </div>
        
        <!-- Phone Row -->
        <div class="row justify-content-center mb-3">
          <div class="col-1">
            <i class="fas fa-phone fa-2x"></i>
          </div>
          <div class="col-auto">
            <p>
              <a href="tel:+84768241259" style="color: var(--primary-color);">(+84) 768-241-259</a>
            </p>
          </div>
        </div>
  
        <!-- Address Row -->
        <div class="row justify-content-center mb-3">
          <div class="col-1">
            <i class="fas fa-map-marker-alt fa-2x"></i>
          </div>
          <div class="col-auto text-left">
            <address>
              17 Huynh Man Dat St.,<br>
              Hoa Cuong Bac Ward,<br>
              Hai Chau Dist.,<br>
              Da Nang, Vietnam
            </address>
          </div>
        </div>
  
        <!-- Google Maps Embed -->
        <div class="row justify-content-center mt-2">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3834.5841346606636!2d108.20681521432925!3d16.061565443981584!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3143a0305d2e5f69%3A0x76c68bbd1eef7d6e!2zMTcgSHV5bmggTWFuIERhdCBTdC4sIEhvw6AgQ3VvbmcsIFRo4bunIMSQ4bupYw!5e0!3m2!1sen!2s!4v1632873044565!5m2!1sen!2s" width="400" height="300" style="border-radius: 1.25em; border: 0.1px solid #000;" allowfullscreen="" loading="lazy"></iframe>
        </div>
      </div>
    </div>
  </div>
  
  

</body>
</html>

{% endblock %}
