{% extends "layout.html" %}
{% block content %}

<link rel="stylesheet" href="/static/css/LandingPage.styles.css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

<style>
  /* =========================== SECTION 1 | CSS ==========================*/
    .section1-background {
        position: relative;
        height: 30em;
        background-image: url('/static/images/aiware-rotating-machinery.png');
        background-size: cover;
        background-position: center;
        border-radius: 0.25em; /* Top-left, Top-right, Bottom-right, Bottom-left */
        overflow: hidden; 
        box-shadow: inset 0 -2em 2em -0.2em rgba(0, 0, 0, 1);
    }
    .section1-background::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: radial-gradient(circle at left center, rgba(0, 0, 0, 0.95) 30%, rgba(0, 0, 0, 0.8) 100%, transparent 100%);      
      border-radius: inherit; /* Ensure the border-radius is applied to gradient */
  }
  .section1-header{
    font-size: 6em;
    margin-top: 1.2em;
    text-transform: uppercase;
    text-align: center;
  }

  /* =========================== SECTION 2 | CSS ==========================*/
  .section2-image-header{
    background-image: url('/static/images/logo/AIWARE_white.png'); 
    background-position: center; 
    background-size: cover; 
    width: 20em; 
    height: 6.5em;
  }

  /* =========================== SECTION 3 | CSS ==========================*/
  .section3-containter{
    border: 0.0325em solid var(--border-color); 
    border-radius: 1.25em;
    padding: 1em;
    padding-left: 2em;
    background-color: var(--primary-color);
  }

  .section3-left-section{
    background-color: var(--background-color);
    border-radius: 1.25em;
    padding: 2.5em;
  }

  .section3-right-section{
    color: var(--background-color);
    background-color: var(--primary-color);
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
  }

  .section3-input {
    background-color: var(--primary-color);
    border: none; /* This will remove all borders */
    border-radius: 0;
    border-bottom: 0.01em solid var(--border-color); /* This sets just the bottom border */
  }
  
  .form-container {
    position: relative;
  }
  
  .loader {
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(-50%, -50%);
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    document.getElementById("contactForm").addEventListener("submit", async function(event) {
      // Prevent the default form submission behavior
      event.preventDefault();
      
      // Show loading animation
      showLoading();

      try {
        // Submit the form data using fetch API
        let formData = new FormData(event.target);
        let response = await fetch("/Contact", {
          method: "POST",
          body: formData
        });

        // Check if the form submission was successful based on the response status
        if (response.ok) {
          // Show the pop-up window with the message
          alert("Thank you for contacting us. We will connect with you as soon as possible.");
          window.location.reload();
        } else {
          // Handle error case if needed
          alert("Failed to submit the form. Please try again.");
        }
      } catch (error) {
        console.error("An error occurred:", error);
        alert("An error occurred. Please try again.");
      } finally {
        // Hide loading animation
        hideLoading();
      }
    });

    // Function to show loading animation
    function showLoading() {
      document.getElementById("loadingIndicator").style.display = "block";
    }

    // Function to hide loading animation
    function hideLoading() {
      document.getElementById("loadingIndicator").style.display = "none";
    }
  });
</script>

  
  
<body>
  {# @*========================================== SECTION 1 ==========================================*@ #}
  <section class="page-banner">
    <div class="contain section1-background">
      <div class="row justify-content-center">
        <div class="col col-12 col-md-8">
          <div class="section1-header gradient-text">
            Contact us
          </div>
        </div>
      </div>
      <div class="row text-center">
        <div class="col">
          <p style="color: var(--secondary-color);">Have questions, comments, or need assistance? Reach out to our team, and we'll help guide you in the right direction.</p>
        </div>
      </div>
    </div>
  </section>

   {# @*========================================== SECTION 2 ==========================================*@ #}
   <section class="page-banner text-center">
    <div class="container">
        <div class="row mb-4" >
          <div class="col">
            <a class="navbar-brand section2-image-header" href="/About">
            </a>
          </div>
        </div>
        <div class="row text-center" style="margin-bottom: 1.5em;">
          <div class="col">
            <p style="color: var(--secondary-color);">Connect with us on social media for the latest updates and insights!</p>
          </div>
        </div>
        <div class="row">
          <div class="col box-transition d-flex justify-content-center align-items-center">
            <a href="https://www.facebook.com/profile.php?id=100077587174250" class="social-icon" target="_blank" rel="noopener noreferrer" style="color: var(--primary-color);">
              <i class="fab fa-facebook fa-6x"></i> 
            </a>
          </div>
          <div class="col box-transition d-flex justify-content-center align-items-center">
            <a href="https://www.linkedin.com/company/aiware-limited-company/about/?viewAsMember=true" class="social-icon" target="_blank" rel="noopener noreferrer" style="color: var(--primary-color);">
              <i class="fab fa-linkedin fa-6x"></i>
            </a>
          </div>
          <div class="col box-transition d-flex justify-content-center align-items-center">
            <a href="https://wa.me/+84768241259" class="social-icon" target="_blank" rel="noopener noreferrer" style="color: var(--primary-color);">
              <i class="fab fa-whatsapp fa-6x"></i> 
            </a>            
          </div>
        </div>
        
    </div>
  </section>

  {# @*========================================== SECTION 3 ==========================================*@ #}
  <section class="page-banner text-left">
    <div class="container section3-containter">
        <div class="row">
            <div class="col-md-5 section3-left-section">
                <div class="row">
                    <div class="col">
                        <h3 class="text-uppercase">
                            Ready to Advance Together?
                        </h3>
                    </div>
                </div>
                <div class="row text-left" style="width: 25em;">
                    <div class="col">
                        <p style="color: var(--secondary-color);">Let us guide you in discovering the perfect partner tailored to your requirements and enabling you to unleash your potential.</p>
                    </div>
                </div>
                <div class="row text-left mb-4 mt-4">
                    <div class="col">
                        <div class="row">
                            <div class="col-1">
                                <i class="far fa-envelope fa-1x"></i>
                            </div>
                            <div class="col-auto">
                                <a href="mailto:khoa.tran@aiware.website" class="social-icon" target="_blank" rel="noopener noreferrer" style="color: var(--primary-color);">
                                    khoa.tran@aiware.website
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row text-left mb-4">
                    <div class="col">
                        <div class="row">
                            <div class="col-1">
                                <i class="fab fa-whatsapp fa-1x"></i>
                            </div>
                            <div class="col-auto">
                                <a href="https://wa.me/+84768241259" class="social-icon" target="_blank" rel="noopener noreferrer" style="color: var(--primary-color);">
                                    +84768241259
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row text-left mb-4">
                    <div class="col">
                        <div class="row">
                            <div class="col-1">
                                <i class="fas fa-map-marker-alt fa-1x"></i>
                            </div>
                            <div class="col-auto">
                                <address>
                                    17 Huynh Man Dat St.,<br>
                                    Hoa Cuong Bac Ward,<br>
                                    Hai Chau Dist.,<br>
                                    Da Nang, Vietnam
                                </address>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row text-left">
                  <div class="col">
                    <div class="row">
                      <div class="col-1">
                        <i class="fas fa-map fa-1x"></i>
                      </div>
                      <div class="col-auto">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3834.5841346606636!2d108.20681521432925!3d16.061565443981584!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3143a0305d2e5f69%3A0x76c68bbd1eef7d6e!2zMTcgSHV5bmggTWFuIERhdCBTdC4sIEhvw6AgQ3VvbmcsIFRo4bunIMSQ4bupYw!5e0!3m2!1sen!2s!4v1632873044565!5m2!1sen!2s" width="320" height="230" style="border-radius: 0.6em; border: 0.001em solid var(--border-color);" allowfullscreen="" loading="lazy"></iframe>
                      </div>
                    </div>
                  </div>
                </div>

            </div>

            <div class="col-md-7 section3-right-section">
              <div class="form-container" style="position: relative;"></div>
              <div id="loadingIndicator" class="loader" style="display: none;"></div>
              <form id="contactForm" action="/Contact" method="post">
                <div class="row mb-4">
                  <div class="col mx-3">
                    <div class="form-group row">
                      <label for="firstName" style="color: var(--background-color); font-weight: bold;">First Name:</label>
                      <input type="text" id="firstName" name="firstName" class="form-control section3-input" required>
                    </div>
                    <div class="form-group row">
                      <label for="email" style="color: var(--background-color); font-weight: bold;">Business Email:</label>
                      <input type="email" id="email" name="email" class="form-control section3-input" required>
                    </div>
                    <div class="form-group row">
                      <label for="company" style="color: var(--background-color); font-weight: bold;">Company:</label>
                      <input type="text" id="company" name="company" class="form-control section3-input">
                  </div>
                  </div>
                  <div class="col mx-3">
                    <div class="form-group row">
                      <label for="lastName" style="color: var(--background-color); font-weight: bold;">Last Name:</label>
                      <input type="text" id="lastName" name="lastName" class="form-control section3-input" required>
                    </div>
                    <div class="form-group row" style="color: var(--background-color);">
                      <label for="phone" style="color: var(--background-color); font-weight: bold;">Phone Number:</label>
                      <input type="tel" id="phone" name="phone" class="form-control section3-input" required>
                    </div>
                    <div class="form-group row">
                      <label for="role" style="color: var(--background-color); font-weight: bold;">Role:</label>
                      <input type="text" id="role" name="role" class="form-control section3-input">
                    </div>
                  </div>
                </div>
                  
                <div class="form-group row mx-1 mb-4">
                  <div class="col">
                    <div class="row">
                      <label style="color: var(--background-color); font-weight: bold;">Select Field:</label>
                    </div>
                    <div class="row">
                      <div class="form-check col">
                        <input class="form-check-input" type="radio" name="selectField" id="field1" value="Rotating_Machines_and_Batteries" checked>
                        <label class="form-check-label" for="field1" style="color: var(--background-color);">
                          Rotating Machines & Batteries
                        </label>
                      </div>
                      <div class="form-check col">
                        <input class="form-check-input" type="radio" name="selectField" id="field2" value="Time_Series_Data_Analysis">
                        <label class="form-check-label" for="field2" style="color: var(--background-color);">
                          Time-Series Data Analysis
                        </label>
                      </div>
                      <div class="form-check col">
                        <input class="form-check-input" type="radio" name="selectField" id="field3" value="Sound_Image_Processing">
                        <label class="form-check-label" for="field3" style="color: var(--background-color);">
                          Sound & Image Processing
                        </label>
                      </div>
                      <div class="form-check col">
                        <input class="form-check-input" type="radio" name="selectField" id="field4" value="Others">
                        <label class="form-check-label" for="field4" style="color: var(--background-color);">
                          Others
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="form-group row mx-1">
                  <label for="message" style="color: var(--background-color); font-weight: bold;">Message:</label>
                  <textarea id="message" name="message" class="form-control section3-input" rows="5" placeholder="Enter your message here..." required></textarea>
                </div>
                
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div> 

        </div>
    </div>
</section>
</body>

<!-- JavaScript code for the pop-up window -->

  {% endblock %}
