{% extends "Layout.html" %}

{% block navbar %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>
    .dropbtn {
        border: None;
        cursor: pointer;
        color: var(--primary-color);
        background-color: var(--background-color);
    }

    .dropdown {
        position: relative;
        display: inline-block;
        float: right; /* Align to the right */
    }

    .dropdown-content {
        border-radius: 1.25em;
        display: none;
        position: absolute;
        right: 0;
        background-color: #f9f9f9;
        min-width: 100px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Add a shadow */
        z-index: 1;
    }

    .dropdown-content a {
        color: var(--primary-color);
        border-radius: 1.25em;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {
        background-color: var(--hover-background-color);
        border: 0.0625em solid var(--secondary-color);  
    }

    /* Show the dropdown menu on click */
    .show {display: block;}
</style>

{% if verified %}
    <div class="dropdown">
        <button id="dropdownButton" class="dropbtn">
            Account
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" aria-hidden="true" viewBox="0 0 24 24" role="img" width="20" height="20">
                <path vector-effect="non-scaling-stroke" stroke="var(--icon-color, #001e00)" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5" d="M18 10l-6 5-6-5"></path>
            </svg>
        </button> 
           
        {# <div id="myDropdown" class="dropdown-content">
            <a href="/profile">Profile</a>
            <a href="/settings">Settings</a>
            <a href="/logout">Logout</a>
        </div> #}
        
    </div>

    <script src="/static/js/Dropdown.js"></script>
{% endif %}

{% endblock navbar %}


{% block content %}
<link rel="stylesheet" href="/static/css/LandingPage.styles.css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

<style>    
    /* =========================== Pop-up modal ==========================*/
    .modal {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .modal-content {
        position: relative;
        width: 90%;
        max-width: 500px; /* You can adjust max-width to your preference */
        z-index: 2;
    }

    /* =========================== SECTION 1 ==========================*/
    .section1-background {
        position: relative;
        height: 40em;
        background-image: url('/static/images/aiware-rotating-machinery.png');
        background-size: cover;
        background-position: center;
        border-radius: 0.25em; /* Top-left, Top-right, Bottom-right, Bottom-left */
        overflow: hidden; 
        box-shadow: inset 0 -2em 2em -0.3em rgba(0, 0, 0, 1);
    }
          
    .section1-background::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: radial-gradient(circle at left center, rgba(0, 0, 0, 0.9) 30%, rgba(0, 0, 0, 0.7) 60%, transparent 100%);        
        border-radius: inherit; /* Ensure the border-radius is applied to gradient */
    }

    .section1-overall{
        margin-left: 1.5em;
        margin-right: 1.5em;
        margin-top: 5em;
    }

    .section1-header{
        text-transform: uppercase;
        font-weight: bold;
    }

    .section1-text {
        margin-right: 5em;
        color: var(--secondary-color);
    }
    
    /* =========================== SECTION 3 ==========================*/
    .section3-box{
        /*
        border: 0.0325em solid var(--border-color); 
        border-radius: 1.25em;
        
        */
        padding: 1em;
        height: 6.8em;
    }

    .section3-container{
        border-top: 0.0325em solid var(--border-color); 
        border-bottom: 0.0325em solid var(--border-color); 
        padding: 2em;
        padding-left: 3em;
        padding-right: 3em;
    }
    /* =========================== SECTION 4 ==========================*/
    .section4-box{
        border: 0.0325em solid var(--border-color); 
        border-radius: 1.25em;
        padding: 1em;
        height: 24em;
    }
    .section4-heading{
        height: 7em;
        width: auto;
    }

    /* =========================== SECTION 5 ==========================*/
    .section5-box{
        border: 0.0325em solid var(--border-color); 
        border-radius: 1.25em;
        padding: 1em;
        /*
        height: 12.5em;
        */
    }
    .section5-heading{
        height: 8.4em;
        width: auto;
    }

    /* =========================== SECTION 6 ==========================*/
    .section6-overall-container {
        border-top: 0.03em solid var(--primary-color); 
        width: 60em;
        margin: 0 auto; 
        padding-top: 2em;;
    }
    
    .section6-container {
        max-width: 50em;
    }
    
    .faq-question {
        cursor: pointer;
        margin-bottom: 0.625em;
        padding: 0.625em;
        border: none;
    }
    
    .faq-answer {
        display: none;
        padding: 0.625em;
        background-color: var(--background-color);
    }
    
    .faq {
        text-align: left;
        margin-bottom: 1.25em;
    }
    .section6-question{
        border-bottom: 0.0625em solid var(--border-color);
    }

    .arrow-container {
        display: flex;
        align-items: center;
        width: 1em;
    }

    .arrow {
        border: 0.0625em solid var(--primary-color); 
        border-width: 0 0.1875em 0.1875em 0;
        display: inline-block;
        padding: 0.1875em;
        float: right;
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
        transition: transform 0.3s ease; /* For a smooth transition */
    }
      
    .faq-question.active .arrow {
        transform: rotate(45deg); /* Correct rotation for active class */
    }
    
    /* =========================== SECTION 7 ==========================*/
    .section7-container{
        width: 60em;
        color: var(--background-color);
        background: linear-gradient(to right, #70B5FF, #70E2FF, #7088FF, #4CFCE7, #8670FF); 
        border-radius: 1.25em;
        padding: 4em 1em 4em 1em;
    }

    .contact-color{
        border: 0.0625em solid var(--primary-color); 
        width: 16em;
        height: 4em;
        border-radius: 5em;
        color: var(--primary-color);
        background-color: var(--background-color);
    }
</style>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        const sections = document.querySelectorAll('.section');

        const observer = new IntersectionObserver(entries => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    entry.target.style.opacity = '1';
                }
            });
        }, { threshold: 0.5 });

        sections.forEach(section => {
            observer.observe(section);
        });
    });


    function toggleFaq(id) {
        var answer = document.getElementById(id);
        var question = answer.previousElementSibling; // Get the .faq-question div that precedes the answer
        
        if (answer.style.display === "block") {
            answer.style.display = "none";
            question.parentElement.classList.remove("active"); // Correctly target the parent .faq-question
        } else {
            answer.style.display = "block";
            question.parentElement.classList.add("active"); // Correctly target the parent .faq-question
        }
    }      
</script>


<body>
    {# @*========================================== SECTION 1 ==========================================*@ #}
    <section class="page-banner">
        <div class="contain section1-background">
            <div class="row">
                <div class="col section1-overall">
                    <h1 class="section1-header gradient-text">
                        AI Productions & Functions 
                    </h1>
                    <p class="section1-text"> 
                        Unlock the power of AI in your operations. 
                        From predictive maintenance and battery management to sound and image processing, 
                        we provide cutting-edge solutions. Enhance reliability, optimize performance, 
                        and transform your business with our integrated AI technologies.
                    </p>
                    <a href="About">
                        <button type="button" class="button_slide slide_right">Explore more &#8594;</button>
                    </a>
                </div>
                <div class="col">
                </div>
            </div>
        </div>
    </section>
    
        {# @*========================================== SECTION 5 (-> 2) ==========================================*@ #}
        <section class="page-banner text-center">
            <div class="container">
                <div class="row text-center">
                    <div class="col">
                        <h2 class="gradient-text  text-uppercase"><b>Primary Solutions</b></h2>
                    </div>
                </div>
                <div class="row text-left mb-1">
                    <p style="color: var(--secondary-color); font-size: 1em;">Our AI solutions tailored for rotating machinery and batteries play a crucial role in minimizing downtime, enhancing safety, and reducing costs. By proactively addressing potential issues before they escalate, these solutions optimize overall performance, bolster safety protocols, and streamline operational efficiency. The result? Substantial savings and marked improvements across various facets of operations.</p>
                </div>
    
                <div class="row">
                    <div class="col section5-box box-transition mr-3 me-3">
                        <div class="row">
                            <div class="col">
                                <div class="section5-heading">
                                    <i class="fas fa-tools fa-2x"></i><p class="text-uppercase mt-3"><b>Predictive Maintenance (PM)</b></p>
                                </div>
                                <div class="description">
                                    Addressing potential failures in machines such as rotating machinery, jet engines, etc., to minimize downtime and enhance reliability.
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="button-wrapper col">
                                <a href="Products">
                                    <button type="button" class="button_slide slide_right">Explore more &#8594;</button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col section5-box box-transition mr-3 me-3">
                        <div class="row">
                            <div class="col">
                                <div class="section5-heading">
                                    <i class="fas fa-heartbeat fa-2x"></i><p class="text-uppercase mt-3"><b>Prognostics and Health Management (PHM)</b></p>
                                </div>
                                <div class="description">
                                    Forecasting Remaining Useful Life (RUL) for machines such as rotating machinery, jet engines, etc., optimizing maintenance schedules.
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="button-wrapper col">
                                <a href="Products">
                                    <button type="button" class="button_slide slide_right">Explore more &#8594;</button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col section5-box box-transition mr-3 me-3">
                        <div class="row">
                            <div class="col">
                                <div class="section5-heading">
                                    <i class="fas fa-chart-bar fa-2x"></i><p class="text-uppercase mt-3"><b>Data Analysis</b></p>
                                </div>
                                <div class="description">
                                    Analyze diverse datasets, including vibration, current, and voltage, and other data from sensors, user input, systems to derive actionable insights.
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="button-wrapper col">
                                <a href="Products">
                                    <button type="button" class="button_slide slide_right">Explore more &#8594;</button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col section5-box box-transition mr-3 me-3">
                        <div class="row">
                            <div class="col">
                                <div class="section5-heading">
                                    <i class="fas fa-car-battery fa-2x"></i><p class="text-uppercase mt-3"><b>Battery Management System (BMS)</b></p>
                                </div>
                                <div class="description">
                                    Forecasting Predict State of Charge (SOC), State of Health (SOH), and Remaining Useful Life (RUL) of batteries, enhancing performance and longevity.
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="button-wrapper col">
                                <a href="Products">
                                    <button type="button" class="button_slide slide_right">Explore more &#8594;</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>            
            </div>
        </section>
    
    {# @*========================================== SECTION 3 ==========================================*@ #}
    <section class="page-banner text-center">
        <div class="container section3-container">
            <div class="row" >
                <h4 class="text-uppercase">
                    <b>Time-Series Data Collection</b> 
                </h4>
            </div>
            <div class="row">
                <p class="text-left" style="color: var(--secondary-color); font-size: 1em;">Real-time collection of various data types, ranging from signals captured by sensors to user-generated data, undergoes thorough analysis using statistical methods and AI models.</p>
            </div>
            <div class="row">
                <div class="col section3-box box-transition mr-3 me-3"><i class="fas fa-tachometer-alt fa-2x"></i><p class="text-uppercase mt-3 font-weight-bold">Accelerometer</p></div>
                <div class="col section3-box box-transition mr-3 me-3"><i class="fas fa-running fa-2x"></i><p class="text-uppercase mt-3 font-weight-bold">Motion</p></div>
                <div class="col section3-box box-transition mr-3 me-3"><i class="fas fa-thermometer-half fa-2x"></i><p class="text-uppercase mt-3 font-weight-bold">Temperature</p></div>
                <div class="col section3-box box-transition mr-3 me-3"><i class="fas fa-compress-arrows-alt fa-2x"></i><p class="text-uppercase mt-3 font-weight-bold">Pressure</p></div>
                <div class="col section3-box box-transition mr-3 me-3"><i class="fas fa-volume-up fa-2x"></i><p class="text-uppercase mt-3 font-weight-bold">Sound</p></div>
                <div class="col section3-box box-transition mr-3 me-3"><i class="fas fa-plus-circle fa-2x"></i><p class="text-uppercase mt-3 font-weight-bold">And more</p></div>
            </div>
        </div>
    </section>

    

    {# @*========================================== SECTION 4 ==========================================*@ #}
    <section class="page-banner text-center">
        <div class="container">
            <div class="row text-center">
                <div class="col">
                    <h2 class="gradient-text text-uppercase"><b>Other Solutions</b></h2>
                </div>
            </div>

            <div class="row text-left">
                <p style="color: var(--secondary-color); font-size: 1em;">Our AI solutions cover a wide spectrum of applications, including flu detection, occupancy estimation, face and object detection, image classification, and web development. Leveraging advanced technologies, we provide actionable insights to optimize operations, enhance safety, and drive innovation across various domains.</p>
            </div>
            <div class="row">
                <div class="col section4-box box-transition mr-3 me-3">
                    <div class="row">
                        <div class="col">
                            <div class="section4-heading">
                                <i class="fas fa-head-side-cough fa-2x"></i><p class="text-uppercase mt-3"><b>Flu Detection</b></p>
                            </div>
                            <div class="description">
                                Utilizes data analytics and AI to track and identify influenza outbreaks, aiding in timely interventions and resource allocation.                            
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col section4-box box-transition mr-3 me-3">
                    <div class="row">
                        <div class="col">
                            <div class="section4-heading">
                                <i class="fas fa-users fa-2x"></i><p class="text-uppercase mt-3"><b>Occupancy Estimation</b></p>
                            </div>
                            <div class="description">
                                Uses sensor data and machine learning to determine the number of people in a space, optimizing operations and enhancing security.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col section4-box box-transition mr-3 me-3">
                    <div class="row">
                        <div class="col">
                            <div class="section4-heading">
                                <i class="fas fa-eye fa-2x"></i><p class="text-uppercase mt-3"><b>Face & Object detection</b></p>
                            </div>
                            <div class="description">
                                Employs computer vision to locate faces or objects in images or video streams, vital for surveillance and automated content tagging.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col section4-box box-transition mr-3 me-3">
                    <div class="row">
                        <div class="col">
                            <div class="section4-heading">
                                <i class="fas fa-brain fa-2x"></i><p class="text-uppercase mt-3"><b>Image Classification</b></p>
                            </div>
                            <div class="description">
                                Categorizes images into predefined classes using deep learning, aiding in tasks like content moderation and medical image analysis.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col section4-box box-transition mr-3 me-3">
                    <div class="row">
                        <div class="col">
                            <div class="section4-heading">
                                <i class="fas fa-globe fa-2x"></i><p class="text-uppercase mt-3"><b>Web development</b></p>
                            </div>
                            <div class="description">
                                Involves designing, creating, and maintaining websites and web applications, encompassing frontend and backend development for seamless user experiences.
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </section>

    {# @*========================================== SECTION 6 ==========================================*@ #}
    <section class="page-banner text-center">
        <div class="section6-overall-container">
            <div class="container section6-container">
                <h2 class="gradient-text mb-3" style="text-transform: uppercase;">
                    <b>Frequently Asked Questions</b> 
                </h2>
                <div class="faq">
                    <div class="faq-question" onclick="toggleFaq('faq3')">
                        <div class="row">
                            <div class="col">
                                <h5 class="text-uppercase section6-question">How does Predictive Maintenance help my business? </h5>
                            </div>
                            <div class="col-auto arrow-container">
                                <span class="arrow up"></span>
                            </div>
                        </div>
                        <div id="faq3" class="faq-answer">
                        <p style="color: var(--secondary-color);">Predictive Maintenance (PM) can help your business by reducing unexpected downtimes, extending the lifespan of your machinery, and saving on repair costs. By using data analysis and monitoring technologies, we can anticipate potential failures before they occur.</p>
                        </div>
                    </div>

                    <div class="faq-question" onclick="toggleFaq('faq4')">
                        <div class="row">
                            <div class="col">
                                <h5 class="text-uppercase section6-question">Can your image processing solutions be customized for specific industries? </h5>
                            </div>
                            <div class="col-auto arrow-container">
                                <span class="arrow up"></span>
                            </div>
                        </div>
                        <div id="faq4" class="faq-answer">
                        <p style="color: var(--secondary-color);">Yes, our image processing solutions are fully customizable to suit a variety of industries. We tailor our services to the unique needs of your business, whether it's for retail, security, or any other domain requiring advanced image analysis.</p>
                        </div>
                    </div>

                    <div class="faq-question" onclick="toggleFaq('faq5')">
                        <div class="row">
                            <div class="col">
                                <h5 class="text-uppercase section6-question">What kind of support do you offer for the Integration of AI into web systems? </h5>
                            </div>
                            <div class="col-auto arrow-container">
                                <span class="arrow up"></span>
                            </div>
                        </div>
                        <div id="faq5" class="faq-answer">
                        <p style="color: var(--secondary-color);">We provide comprehensive support for integrating AI into web systems, from initial consultation to final implementation. Our team offers ongoing maintenance and updates to ensure your AI-enhanced web services continually meet your business objectives.</p>
                        </div>
                    </div>

                    <div class="faq-question" onclick="toggleFaq('faq6')">
                        <div class="row">
                            <div class="col">
                                <h5 class="text-uppercase section6-question">What differentiates your Battery Management System? </h5>
                            </div>
                            <div class="col-auto arrow-container">
                                <span class="arrow up"></span>
                            </div>
                        </div>
                        <div id="faq6" class="faq-answer">
                        <p style="color: var(--secondary-color);">Our Battery Management System (BMS) stands out due to its advanced predictive analytics that accurately forecast battery life and performance, maximizing efficiency and reliability in a diverse range of applications.</p>
                        </div>
                    </div>

                    <div class="faq-question" onclick="toggleFaq('faq7')">
                        <div class="row">
                            <div class="col">
                                <h5 class="text-uppercase section6-question">How do you ensure data privacy in your Sound and Image Processing services?</h5>
                            </div>
                            <div class="col-auto arrow-container">
                                <span class="arrow up"></span>
                            </div>
                        </div>
                        <div id="faq7" class="faq-answer">
                        <p style="color: var(--secondary-color);">Data privacy is a top priority. We adhere to strict data protection policies and use state-of-the-art encryption, ensuring full compliance with GDPR and other privacy regulations for our Sound and Image Processing services.</p>
                        </div>
                    </div>                  
                </div>
            </div>
        </div>
    </section>

    {# @*========================================== SECTION 7 ==========================================*@ #}
    <section class="page-banner text-center">
        <div class="container section7-container">
            <div class="row justify-content-center align-items-center">
                <div class="col-12">
                    <h1 class="mb-1" style="text-transform: uppercase;">
                        <b>Unlock Greater Success with Us</b>
                    </h1>
                </div>
            </div>
            <div class="row justify-content-center align-items-center" style="margin-bottom: 1em;">
                <div class="col-12">
                    <p style="color: var(--background-color);">Discover how our tailored solutions can elevate your business to new heights.</p>
                </div>
            </div>
            <div class="row justify-content-center align-items-center">
                <div class="col-12">
                    <div class="button-wrapper">
                        <a href="/Contact">
                            <button type="button" class="button_slide slide_right contact-color">
                                    CONTACT WITH US &#187;
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    


    {# @*========================================== POP-UP MODAL ==========================================*@ #}
    <div id="myModal" class="modal" style="display: none;">
        <div class="d-flex justify-content-center align-items-center">
            <div class="modal-content text-center p-4" style="border-radius: 1.25em; box-shadow: 0 5px 15px rgba(0,0,0,.5);">
                <div class="mb-5">
                    <div class="close" style="position: absolute; top: 0.625em; right: 1.25em; font-size: 1.5em; cursor: pointer;">&times;</div>
                    <div class="back-arrow" style="display: none; position: absolute; top: 0.625em; left: 1.25em; font-size: 1.5em; cursor: pointer; color: var(--secondary-color);">
                        <i class="fas fa-arrow-alt-circle-left"></i>
                    </div>
                </div>

                <div id="askingForm" style="display: none;">
                    <p>Please Login or Create an account!</p>
                    <div class="button-wrapper">
                        <button class="btn btn-primary mx-1 openLoginBtn">Login</button>
                        <button class="btn btn-secondary ml-1 openSignUpBtn">Sign Up</button>
                    </div>
                </div>
                
                <form id="loginForm" style="display: none;">
                    <form id="login-form">
                        <div class="mb-3">
                            <input style="border-radius: 1.25em;" type="email" class="form-control" id="loginEmail" name="email" placeholder="Email" required>
                        </div>
                        <div class="mb-3">
                            <input style="border-radius: 1.25em;" type="password" class="form-control" id="loginPassword" name="password" placeholder="Password" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                    <script src="/static/js/Login.js"></script>
                </form>

                <form id="signUpForm" style="display: none;">
                    <form id="signup-form">
                        <div class="mb-3">
                            <input style="border-radius: 1.25em;" type="email" class="form-control" id="signupEmail" name="email" placeholder="Email" required>
                        </div>
                        <div class="mb-3">
                            <input style="border-radius: 1.25em;" type="password" class="form-control" id="signupPassword" name="password" placeholder="Password" required>
                        </div>
                        <div class="mb-3">
                            <input style="border-radius: 1.25em;" type="password" class="form-control" id="signupRePassword" name="repassword" placeholder="Re-enter Password" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Sign Up</button>
                    </form>
                    <script src="/static/js/Verification.js"></script>   
                </form>
                <div class="mt-3" id="message"></div>
            </div>
        </div>
    </div>


    <script> 
        var btn = document.querySelectorAll(".openModalBtn");
        var modal = document.getElementById("myModal");

        var askingForm = document.getElementById("askingForm")
        var loginForm = document.getElementById("loginForm");
        var signUpForm = document.getElementById("signUpForm");
        var signUpBtn = document.querySelector('.openSignUpBtn');
        var loginBtn = document.querySelector('.openLoginBtn');
        var closeBtn = document.querySelector('.close');
        var back_arrow = document.querySelector('.back-arrow');
        
        // Function to show the modal and a form if given
        function showModal(formToShow) {
            modal.style.display = "block";
            askingForm.style.display = "none";
            loginForm.style.display = "none";
            signUpForm.style.display = "none";

            if (formToShow) {
                formToShow.style.display = "block";
            }
            if (formToShow == loginForm || formToShow == signUpForm){
                back_arrow.style.display = "block";
            }
        }

        // Function to hide the modal
        function hideModal() {
            console.log("check");
            modal.style.display = "none";
            askingForm.style.display = "none";
            loginForm.style.display = "none";
            signUpForm.style.display = "none";
        }

        // Bind click events to open the modal
        btn.forEach(function(button) {
            button.onclick = function() {
                showModal(askingForm);
            }
        });

        // Bind remaining click events
        signUpBtn.onclick = () => showModal(signUpForm);
        loginBtn.onclick = () => showModal(loginForm);
        back_arrow.onclick = function() {
            showModal(askingForm); 
            back_arrow.style.display="none";
        };
        closeBtn.onclick = () => hideModal();

        // Close modal when clicked outside of it
        window.onclick = function(event) {
            if (event.target === modal) {
                hideModal();
            }
        }
    </script>


</body>
{% endblock %}



    
