<!-- templates/services.html -->

<html lang="en">
    <section class="page-banner">
        <div class="container">
            <div class="row mb-2">
                <h1>
                    Predictive Maintenance, Fault Diagnosis
                </h1>
            </div>
            <div class="row">
                <div class="col">
                    <img src="~/images/Services/detection.png" style="object-fit: cover; height: 100%; width: 100%; border-radius: 20px; box-shadow: 0 4px 8px rgba(0, 0.2, 0.2, 0.3);" />
                </div>
            </div>
        </div>
    </section>
    
    <section class="page-banner">
        <div class="container">
            <div class="row mb-2">
                <h1>
                    Product Quality Prediction
                </h1>
            </div>
            <div class="row">
                <div class="col">
                    <img src="~/images/Services/product_quality_prediction.png" style="object-fit: cover; height: 100%; width: 100%; border-radius: 20px; box-shadow: 0 4px 8px rgba(0, 0.2, 0.2, 0.3);" />
                </div>
            </div>
        </div>
    </section>
    
    
</html>
